.footer{
    background-color: #595959;
    &__top{
        padding: 20px 0 30px;
        display: flex;
        justify-content: space-between;
    }
    &__info{
        display: block;
        max-width: 360px;
    }
    &__title{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
    }
    &__text{
        color: #d3d2d2;
        margin-bottom: 20px;
    }
    &__btn{
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        li{
            margin-top: 10px;
        }
        a{
            color: #fff;
            letter-spacing: 0.25px;
            line-height: 24px;
            font-size: 16px;
            padding-left: 33px;
            position: relative;
            &::before{
                position: absolute;
                font-family: 'icomoon' !important;
                left: 0;
                top: 0;
                color: #ffc222;
            }
        }
    }
    &__phone{
        &:before{
            content: "\f095";
        }
    }
    &__mail{
        &:before{
            content: "\f003";
        }
    }
    &__address{
        &:before{
            content: "\f041";
        }
    }
    &__map{
        padding-top: 10px;
        max-width: 630px;
        width: 100%;
        & iframe{
            max-width: 630px;
            width: 100%;
            height: 250px;
        }
    }
    &__bottom{
        min-height: 40px;
        background-color: #303030;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }
}

