@media(max-width: 1136px) {
    .services{
        &__item{
            padding: 30px 15px 40px;
            width: 30%;
        }
    }
    .consultation{
        img{
            display: none;
        }
    }
    .news{
        &__bottom{
            display: block;
            text-align: center;
        }
        &__slider{
            margin: 0 auto;
            text-align: left;
            margin-bottom: 100px;
            max-width: 90%;
            padding-right: 60px;
            &-item{
                width: 100%;
                padding-right: 10px;
            }
        }
        &__blog{
            text-align: left;
            margin: 0 25px;
            
        }
    }
}

@media(max-width: 900px){
    .services{
        &__items{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            width: 40%;
            margin: 10px;
        }
    }
    .consultation{
        textarea{
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@media(max-width: 800px){
    .services{
        &__title-box{
            padding-left: 0;
            &:before{
                content: none;
            }
        }
    }
    .advantages{
        &__wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            margin-bottom: 50px;
        }
    }
    .news{
        &__title-box{
            padding-left: 0;
            &:before{
                content: none;
            }
        }
    }
}

@media(max-width: 768px){
    .active{
        display: block !important;
      }
    .header__btn-menu{
        display: block;
      }

    .menu-list{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 50;
    }
    .header__menu{
        li{
        display: block;
        text-align: center;
        }
        a{
        display: block;
        background-color: #fff;
        border-top: 1px solid #ffc222;
        }
        li + li{
        padding-left: 0;
        margin-left: 0;
        }
    }
    .slider{
        &__item-content{
            max-width: 630px;
        }
        &__title{
            font-size: 24px;
        }
    }
    .services{
        &__title-box{
            max-width: 400px;
        }
    }
    .consultation{
        &__title-box{
            padding-left: 0;
            text-align: center;
            &:before{
                display: none;
            }
        }
        &__form{
            display: block;
        }
        textarea{
            margin: 0 0 20px 0;
            width: 100%;
        }
        input{
            width: 100%;
        }
    }
    .form{
        &__column-left,
        &__column-right{
            max-width: 100%;
        }
    }
}

@media(max-width: 728px){
    .services{
        &__item{
            max-width: 360px;
            width: 100%;
        }
    }
    .footer{
        &__top{
            display: block;
        }
        &__info{
            margin: auto;
            text-align: center;
        }
        &__bottom{
            text-align: center;
        }
    }
}

@media(max-width: 668px){
    .header__btn{
        float: none;
      }
    .header__contacts{
        text-align: center;
      }
    
    .slider__wrapper button{
        display: none !important;
    }
    .services,
    .news{
        &__top{
            display: block;
            text-align: center;
        }
        &__title-box{
            margin: 0 auto 30px auto;
        }
    }
    .news{
        &__slider{
            padding-left: 20px;
            padding-right: 20px;
        }
        &__blog{
            margin:40px 15px 0;
        }
    }
}


@media(max-width: 400px){
    .header{
        &__mail,
        &__phone{
            padding-right: 10px;
        }
    }
}